@using AdmCRRN.Controllers.Aplicacao.Sessao
@using AdmCRRN.Models.Transporte
@{
    ViewBag.Title = "Home Page";
}
<h2>@ViewBag.Message</h2>

@if (SessaoUsuario.UsuarioSuperAdmin())
{ 
    <h2>
        Usuario Adiministrador</h2>;
}
else
{
    if (SessaoUsuario.Conta() != null)
    { 
    <h2>@SessaoUsuario.Conta().Instituicao.Nome</h2>
    }

}
